/* Global Player Styles */
.audio-player .sp-controls a.sp-pause {
  display: none;
}
.audio-player.playing .sp-controls a.sp-play {
  display: none;
}
.audio-player.playing .sp-controls a.sp-pause {
  display: inline-block;
}


.simple-example {
  position: relative;
  z-index: 100;
  width: 400px;
}
.simple-example .sp-artwork,
.simple-example .sp-controls,
.simple-example .sp-title {
  position: relative;
  z-index: 30;
}
.simple-example .sp-scrubber {
  background-color: #f5f5f5;
  float: left;
  height: 50px;
  position: relative;
  width: 280px;
}
.simple-example .sp-scrubber .buffer {
  background-color: #eeeeee;
  height: 100%;
  position: absolute;
  z-index: 11;
}
.simple-example .sp-scrubber .played {
  background-color: #e4e4e4;
  height: 100%;
  position: absolute;
  z-index: 12;
}
.simple-example .sp-artwork {
  margin: 0 15px 0 0;
  float: left;
}
.simple-example .sp-artwork img {}
.simple-example .sp-controls {
  float: left;
  margin-right: 15px;
  font-size: 18px;
  line-height: 100px;
  position: absolute;
  width: 100px;
  text-align: center;
}
.simple-example .sp-controls a,
.simple-example .sp-controls a:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  font-size: 38px;
  text-decoration: none;
  border: 0;
}
.simple-example .sp-title {
  float: left;
}
.simple-example .sp-title a {
  font-size: 16px;
  line-height: 45px;
  color: #5E5950;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.simple-example .time { line-height: 44px; padding: 3px 10px; z-index: 13; position: absolute; }
.simple-example .totaltime { right: 10px; }
